body{
   width: 100%;
   
   background-image: url("pictures/background\ pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

a,a:hover {
   text-decoration: none;
   color: #000;
}
.container{
   width: 100%;
   }

.menu ul {
   display: inline-flex;
   margin: 50px;
   list-style: none;
   }


.list{
   margin: 30px;
   color: darkslategray;
   cursor: pointer;
}

.list-item {
   list-style: none;

}


.logo img{
   width: 40px;
   height: 40px;
   margin-top: 20px;
   margin-right: 48px;}

.active{color: deeppink!important;}
.banner{width: 80%;
   height: 70%;
   top: 25%;
   left: 130px;
   position: absolute;
   color: rgb(0, 0, 0)

}
.app-text{
   width: 40%;
   float: left;
}
.app-text h1{
   font-size: 40px;
   width: 640px;
   position: relative;
   margin-left: 40px;
}
.app-text p{
width: 650px;
font-size: 20px;
margin: 30px 0 3px 40px;
line-height: 25px;
}

.sarah img {top: 40px;
    margin: right;
   position: absolute;
   right:20px;
   background: url(/pictures/sarah.jpg) no-repeat;
   width:300px;
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   transform: rotate(-90deg);
}  

.submit-btn {
   display: block;
   width: 10%;
   border: none;
   background-color: #6fe2e2;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
 }
   

.profile {
   border: none;
   background: #6fe2e2;
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 4px;
}

.profile > a {
   text-decoration: none; 
}
.about ul {
   display: inline-flex;
   margin: 20px;
   }
.nav{
    float: right;
     right: 30px;
   }
     
.new-about{margin: 40px;
       }
.container{ 
      width: 80%;
      height: 70px;
      top:25%;
      left: 130px;
      position: absolute;
      color: rgb(10, 10, 10);
  }

.text{
      width: 50%;
      margin-left: 50px;
}
.text h1{
   font-size: 70px;
   width: 640px;
   position: relative;
   margin-left: 70px;
}
.text p{ 
     width: 680px;
     font-size: 25px;
     margin: 30px 0 30px 70px;
     line-height: 30px;

 }
